:root {
    --bgGray: #2b3036;
    --color: #e5e5e5;
    --bgBody: black;
}

body {
    background-color: var(--bgBody);
    color: var(--color);
}

.card {
    background-color: var(--bgGray);
    color: var(--color);
}

.btn_nathan {
    background-color: var(--color);
    color: var(--bgGray);
    margin-top: 40px;

}

.footer{
    background-color:  #2b303671;
}